@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(227,228,228);
  background: linear-gradient(90deg, rgba(227,228,228,1) 0%, rgba(220,220,222,1) 0%, rgba(2,0,36,1) 100%);
}
.main--card{
  border: 1.5px solid white;
}